.navbar {
    display: none;
    z-index: 15;
}

@media (min-width: 750px) {
    .navbar { 
        display: block;
        background-color: #e58f23;
        position: fixed;
        height: 100%;
        width: 150px;
        left: 0;
        top: 0;
      }

      .navbar-content {
        display: flex;
        flex-direction: column;
        margin: 2vw;
        height: 100%;
      }

      .navbar-icon-logout {
        position: absolute;
        bottom: 10px;
      }
      
      .navbar-icon {
        padding-block: 30%;
      }

      .icon:hover {
        color: #f6ecde !important;
      }
}
