.navbar {
    display: none;
}

@media (min-width: 750px) {
    .navbar { 
        display: block;
        background-color: #e58f23;
        position: fixed;
        height: 100%;
        top: 0;
      }
      
      .navbar-content {
        display: flex;
        flex-direction: column;
        margin: 3vw;
      }

      .icon {
        padding-block: 40%;
      }
}
