button {
    background-color: #e58f23;
    border: none;
    color: #fce4db;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    width: max-content;
    font-size: large;
  }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;    
}

label {
  color: #fce4db;
  margin: 2vw;
  font-size: larger;
}

.login-input {
  width: 80%;
  background-color: #fce4db;
  font-size: larger;
}
